body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("home.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 200vh;
}

header {
  background: linear-gradient(
    to bottom,
    rgba(0, 123, 255, 0.9),
    rgba(0, 86, 179, 0.9)
  );
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 36px;
}

main {
  flex-grow: 1;
  padding: 20px;
}

.cv-download {
  text-align: center;
}

h2 {
  color: #007bff;
  margin-bottom: 20px;
  font-size: 24px;
}

p {
  color: #fff;
  margin-bottom: 20px;
}

.cv-download button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

.cv-download button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  background: linear-gradient(
    to bottom,
    rgba(0, 123, 255, 0.9),
    rgba(0, 86, 179, 0.9)
  );
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
